.bannerhome{
    width:100%
}
.offerhome{
    /* border:1px solid red; */
    text-align: left;
    width:100%;
}
.offerpro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2%;
    row-gap: 8%;
    width:90%;
    padding: 2%;
    margin: auto;
    /* border:1px solid green; */
}
.offerimg{
    width:90%
}
.explorepro{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.explorebtn{
    font-size: x-large;
    border-radius: 38%;
    border-color: blue;
    background-color: rgb(42, 42, 252);
    color: white;
    margin:2%
}
.explorebtn:hover{
    background-color: white;
    color: black;
}
.boximg{
    width:23%;
    height:50%
}


.bestmobile-main{
    text-align: left;
    padding: 2%;
}


/* box style */

.bestmobilebox{
    /* border:1px solid blue; */
    padding:1%;
    line-height:98%;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
    .bestmobile{
    display: flex;
    /* justify-content: space-between; */
   
}
.bestmobileimg{
    width:70%;
    height:40%;
    margin-left:9% ;
}
.bestphonedis{
    /* border:1px solid blue; */
    margin: 0%;
}
.bestphonediscount{
   text-decoration: line-through;
   color: red;
}
.onhovertitle{
    color: rgb(83, 83, 214);
}
.onhovertitle:hover{
    color: red;
}
.bestphonebutton{
    background-color: rgb(36, 116, 26);
    color: white;
    font-size: large;
}
.bestphonebutton:hover{
    
    background-color: rgb(84, 84, 231);
}
.btn{
    margin-right: 27%;
}